<li>
  <%= nav_link_to "Dashboard", "#", class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Work Orders", work_orders_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "New Work Order", new_work_order_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Help Center", "#", class: "nav-link" %>
</li>
